@import '_mixins';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 160px;
  color: #1A1A1A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  color: #3572b0;
  text-decoration: none;
  &:focus, &:active {
    outline: none;
  }
  &:hover {
    color: #dd4536;
    text-decoration: none;
  }
}

p + p {
  margin: 25px 0 0;
}

p {
  line-height: 24px;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
}

section.text-block,
section.video-block,
section.blog {
  padding: 0 0 20px;
}

section {
  h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    &:after {
      content: " ";
      display: block;
      width: 100px;
      height: 2px;
      margin: 20px auto 20px;
      background: #000;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
}

header {
  @include desktop {
    &.site__header {
      display: block;
      position: relative;
      z-index: 999;
      margin: 20px 0;
    }
    .site__logo {
      img {
        float: none;
        display: inline-block;
        @include desktop {
          height: 100px;
        }
        @include tablet {
          height: 70px;
        }
        @include mobile {
          height: 60px;
        }
      }
    }
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.topbar__phone {
  margin-top: 30px;
  text-align: right;
  a {
    font-size: 18px;
    font-weight: 600;
    color: #555;
  }
}

.topbar__cart {
  margin-top: 30px;
  text-align: left;

  .btn {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0;

    :hover {
      color: #fff;
    }
  }

  .btn-transparent {
    color: #555;
    background-color: transparent;
    border-color: #555;
    &:after {
      background-color: #000 !important;
    }
  }
}

nav {
  &.navbar {
    border: none;
    margin-bottom: 0px;
    /*min-height: 33px;
    @include tablet {
      text-align: center;
    }
    @include mobile {
      text-align: center;
    }*/
    .navbar-header {
      display: none;
      padding: 10px 15px;
      .navbar-toggle {
        border: none;
        top: 8px;
        margin: 0;
        &:hover, &:focus {
          background: none;
        }
        .icon-bar {
          background-color: #000;
        }
      }
      .navbar-brand {
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        margin-left: 0px;
        float: left;
        padding: 0px;
        width: 120px;
        &:hover,
        &:focus {
          color: #000;
          background-color: transparent;
        }
      }
    }
    @include tablet {
      .navbar-header {
        display: block;
      }
    }
    @include mobile {
      .navbar-header {
        display: block;
      }
    }

    .collapse {
      @include desktop {
        text-align: center;
      }
      @include tablet {
        text-align: left;
        border-bottom: 1px solid #dddcda;
        margin-bottom: 20px;
      }
      @include mobile {
        text-align: left;
        border-bottom: 1px solid #dddcda;
        margin-bottom: 20px;
      }
    }
    .navbar-nav {
      float: none;
      @include desktop {
        display: inline-block;
      }
      > li {

        &.active {
          a {
            color: #333;
            @include desktop {
              border-bottom: 2px solid #333;
            }
            @include tablet {
              background-color: #f9f9f9;
            }
            @include mobile {
              background-color: #f9f9f9;
            }
          }
        }
        > a {
          background-color: transparent;
          font-weight: 600;
          @include desktop {
            padding: 5px 0;
          }
          margin: 0 10px;
          font-size: 16px;
          color: #464547;
          line-height: 16px;
          text-transform: uppercase;
        }
        > a:hover,
        > .active > a,
        > .active > a:hover,
        > .active > a:focus {
          color: #333;
          @include desktop {
            border-bottom: 2px solid #333;
          }
          background-color: transparent;
        }
      }
    }

  }
}

.gallery {
  margin: -5px;
  .thumb {
    margin: 0;
    padding: 0;
    .thumbnail {
      border: none;
      padding: 0;
      margin: 5px;

      /*width: 340px;
      height: 340px;*/

      img {
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        /*height: 100%;*/

        /*-webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-backface-visibility: hidden;*/

        &:hover {
          /*-webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);*/
        }
      }
    }

  }
}

.thumb {
  margin-bottom: 30px;
  @include desktop {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
  @include tablet {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
  @include mobile {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}

.breadcrumb {
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  a {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-weight: 600;
  }
}

.price-column-container {
  border: 1px solid #eee;
  @include tablet {
    margin: 5px 0;
  }
  @include mobile {
    margin: 5px 0;
  }
  .price-table-head {
    background-color: #f7f9fb;
    padding: 20px;
    h3 {
      margin: 0;
    }
  }
  .price-table-pricing {
    padding: 20px;
    text-align: center;
    span {
      display: block;
      padding-bottom: 20px;
    }
  }
}

.my-contacts {
  margin-bottom: 40px;
}

.page-contacts {
  input, textarea {
    background-color: #eee;
  }
}

img {
  max-width: 100%;
}

.filters {
  ul {
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
    display: inline-block;
    li {
      @include desktop {
        display: inline;
        margin: 0 15px;
      }
      @include tablet {
        padding: 5px 0;
      }
      @include mobile {
        padding: 5px 0;
      }
      a {
        cursor: pointer;
        color: #000;
        font-weight: 600;
        letter-spacing: 1px;
      }
      &:hover, &.active {
        a {
          border-bottom: 2px solid #333;
        }
      }
    }
  }
}

.masonry {
  .item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    img {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg) scale3d(1, 1, 1);
      transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg) scale3d(1, 1, 1);
      transition: .3s all;
    }
    :hover {
      img {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
      .overlay {
        opacity: 0.8;
      }
    }
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #f5f5f5;
      top: 0;
      opacity: 0;
      left: 0;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      .overlay-inner {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      h3 {
        font-size: 23px;
        color: #5d5d5d;
        text-decoration: none;
        text-align: center;
        letter-spacing: 2px;
        a {
          text-decoration: none;
          color: #424949;
        }
      }
    }
  }
}

footer {
  color: #000;
  background: #f5f5f5;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  padding: 30px 0;
  .container {
    /*border-top: 1px #dddcda solid;*/
  }
  .footer__contacts {
    text-align: center;
    a {
      display: block;
      color: #1A1A1A;
      &.footer__contacts__phone {
        font-size: 18px;
        font-weight: 600;
      }
      &.footer__contacts__mail {
        font-size: 16px;
      }
    }
  }
  .social__icon {
    text-align: center;
    margin-top: 20px;
    a {
      display: inline-block;
      text-align: center;
      margin: 0 10px 0 0;
    }
    .fa-2x {
      font-size: 1.5em;
    }
    .fa {
      color: #fff;
      line-height: 30px;
      border-radius: 6px;
      width: 30px;
      height: 30px;
      &:hover {
        color: #fff;
      }
    }
    .fa-instagram {
      background-color: #517fa4;
    }
    .fa-facebook {
      background-color: #3c5a98;
    }
    .fa-vk {
      background-color: #48729e;
    }
    .fa-youtube-play {
      background-color: #c20724;
    }
  }
}

